In [1]:
import pandas as pd
import numpy as np

## Load the data

In [2]:
df_actuals = pd.read_parquet("../data/artificial_daily.parquet")
df_fc = pd.read_parquet("../data/forecasts20210621140513101857.parquet")

In [3]:
display(df_actuals)
display(df_fc)

                                        target
key_1    key_2           date
key_1_0  weekly_season_0 2018-09-29   0.086695
                         2018-09-30   0.264376
                         2018-10-01   0.273167
                         2018-10-02   1.024270
                         2018-10-04   0.913934
...                                        ...
key_1_16 erratic_4       2018-12-23  26.295176
                         2018-12-24  44.517468
key_1_20 erratic_5       2018-12-18   0.000000
                         2018-12-19   0.000000
                         2018-12-20   0.000000

[4316 rows x 1 columns]

                                  target_mean  target_quantile_0.1  \
key_1      key_2      date
Aggregated Aggregated 2018-12-28    89.382647            34.760547
                      2018-12-29    89.843912            28.423053
                      2018-12-30    86.283700            20.823010
                      2018-12-31    70.312772           -17.237268
                      2019-01-01    75.059642            -2.725542
...                                       ...                  ...
key_1_9    constant_3 2018-12-30     5.814785            -1.595329
                      2018-12-31     5.651303             0.044582
                      2019-01-01     5.774826            -1.039519
                      2019-01-02     5.653158            -0.295291
                      2019-01-03     5.269641            -1.468437

                                  target_quantile_0.25  target_quantile_0.5  \
key_1      key_2      date
Aggregated Aggregated 2018-12-28             35.003468            35.408335
                      2018-12-29             29.059802            30.121049
                      2018-12-30             21.807596            23.448572
                      2018-12-31            -15.363830           -12.241434
                      2019-01-01             -1.370535             0.887811
...                                                ...                  ...
key_1_9    constant_3 2018-12-30             -1.451562            -1.211950
                      2018-12-31              0.112839             0.226601
                      2019-01-01             -0.855844            -0.549720
                      2019-01-02             -0.228181            -0.116332
                      2019-01-03             -1.342972            -1.133865

                                  target_quantile_0.75  target_quantile_0.9  \
key_1      key_2      date
Aggregated Aggregated 2018-12-28             35.813203            36.056124
                      2018-12-29             31.182297            31.819046
                      2018-12-30             25.089547            26.074133
                      2018-12-31             -9.119038            -7.245600
                      2019-01-01              3.146157             4.501164
...                                                ...                  ...
key_1_9    constant_3 2018-12-30             -0.972337            -0.828570
                      2018-12-31              0.340364             0.408621
                      2019-01-01             -0.243595            -0.059921
                      2019-01-02             -0.004482             0.062628
                      2019-01-03             -0.924758            -0.799293

                                        method training_end_time
key_1      key_2      date
Aggregated Aggregated 2018-12-28  meta_learner        2018-12-27
                      2018-12-29  meta_learner        2018-12-27
                      2018-12-30  meta_learner        2018-12-27
                      2018-12-31  meta_learner        2018-12-27
                      2019-01-01  meta_learner        2018-12-27
...                                        ...               ...
key_1_9    constant_3 2018-12-30  meta_learner        2018-12-27
                      2018-12-31  meta_learner        2018-12-27
                      2019-01-01  meta_learner        2018-12-27
                      2019-01-02  meta_learner        2018-12-27
                      2019-01-03  meta_learner        2018-12-27

[315 rows x 8 columns]

## We now want to merge the two dataframes
- Merge on key_1 and key_2, 
- Such that the resulting dataframe contains all dates from `df_actuals` and `df_fc`
- Just keep the columns `target` from `df_actuals` and `target_mean` from `df_fc`
- Create a new column `combined` which combines the non-nan values from both above mentioned columns

In [4]:
test_k1 = "key_1_8"
test_k2 = "weekly_season_trend_weekend_4"

In [6]:
df_test = df.loc[test_k1, test_k2]
assert(np.isclose(df_test["target"].sum(), 325.74, atol=1e-2))
assert(np.isclose(df_test["target_mean"].sum(), 66.99, atol=1e-2))
assert(np.isclose(df_test["combined"].sum(), 392.73, atol=1e-2))

In [7]:
df_test

               target  target_mean   combined
date
2018-11-21   7.476401          NaN   7.476401
2018-11-22   7.795823          NaN   7.795823
2018-11-23  10.067860          NaN  10.067860
2018-11-24  12.023422          NaN  12.023422
2018-11-25  12.645126          NaN  12.645126
2018-11-26  11.502410          NaN  11.502410
2018-11-27   9.471258          NaN   9.471258
2018-11-28   8.411758          NaN   8.411758
2018-11-29   8.955997          NaN   8.955997
2018-11-30  10.959841          NaN  10.959841
2018-12-01  13.064155          NaN  13.064155
2018-12-03  12.594161          NaN  12.594161
2018-12-04  10.413310          NaN  10.413310
2018-12-06   9.765774          NaN   9.765774
2018-12-07  11.658909          NaN  11.658909
2018-12-08  14.064612          NaN  14.064612
2018-12-09  14.703314          NaN  14.703314
2018-12-10  13.339039          NaN  13.339039
2018-12-11  11.650450          NaN  11.650450
2018-12-12  10.064918          NaN  10.064918
2018-12-13  10.838338          NaN  10.838338
2018-12-15  15.135014          NaN  15.135014
2018-12-16  15.745061          NaN  15.745061
2018-12-17  14.411317          NaN  14.411317
2018-12-18  12.431340          NaN  12.431340
2018-12-19  11.102659          NaN  11.102659
2018-12-20  11.605126          NaN  11.605126
2018-12-21  13.846394          NaN  13.846394
2018-12-28        NaN    10.900139  10.900139
2018-12-29        NaN    10.617617  10.617617
2018-12-30        NaN     8.806232   8.806232
2018-12-31        NaN    10.155358  10.155358
2019-01-01        NaN     9.965665   9.965665
2019-01-02        NaN    10.118070  10.118070
2019-01-03        NaN     6.429775   6.429775

In [8]:
df_test.to_parquet("../data/test.parquet")